<?xml version="1.0" encoding="UTF-8"?>
<application>
    <framework>
        <attributes>
            <key name="config.dump">true</key>
            <key name="log.config">config/log4j2Config.xml</key>
            <key name="log.class">action.object.nsLogger</key>
            <key name="log.filename">NSUnitTest.log</key>
            <key name="log.path">services/logs/</key>
            <key name="localStore.directory">services/temp/</key>
            <key name="service.shutdown">#$#</key>
            <key name="connection.terminator">.</key>
            <key name="connection.maximum">500</key>
            <key name="connection.idleTimeout">5</key>
            <key name="connection.status.ok">100</key>
            <key name="connection.status.invalidContent">110</key>
            <key name="connection.status.unauthorized">120</key>
            <key name="connection.status.requestTimeout">130</key>
            <key name="connection.status.databaseError">140</key>
            <key name="connection.status.systemError">150</key>
            <key name="message.datetimeFormat">yyyyMMddHHmmssS</key>
            <key name="record.terminator">&#xA;</key>
            <key name="record.field.delimiter">&#124;</key>
            <key name="data.recovery.periodicity">HOUR</key>
            <key name="data.recovery.rolloverThreshold">168</key>
        </attributes>
    </framework>
    <services>
        <service name="controlService">
            <port>5000</port>
            <class>elsu.network.services.system.ControlService</class>
            <startupType>DISABLED</startupType>
            <serviceType>SERVER</serviceType>
            <ignoreConnectionLimit>true</ignoreConnectionLimit>
            <maxConnections>1</maxConnections>
            <attributes>
                <key name="password">Passw0rd!</key>
            </attributes>
        </service>
        <service name="watcherService">
            <port>5001</port>
            <class>elsu.network.services.system.WatcherService</class>
            <startupType>SYSTEM</startupType>
            <serviceType>CLIENT</serviceType>
            <ignoreConnectionLimit>false</ignoreConnectionLimit>
            <maxConnections>0</maxConnections>
            <attributes>
                <key name="watchList">application.services.service.controlService,application.services.service.garbageCollectionService,application.services.service.echoService,application.services.service.stateService</key>
                <key name="scanPeriod">60</key>
            </attributes>
        </service>
        <service name="garbageCollectionService">
            <port>5002</port>
            <class>elsu.network.services.system.GarbageCollectionService</class>
            <startupType>SYSTEM</startupType>
            <serviceType>CLIENT</serviceType>
            <ignoreConnectionLimit>false</ignoreConnectionLimit>
            <maxConnections>0</maxConnections>
            <attributes>
                <key name="timer">30</key>
            </attributes>
        </service>
        <service name="fileTransferService">
            <port>5003</port>
            <class>elsu.network.services.external.FileTransferService</class>
            <startupType>DISABLED</startupType>
            <serviceType>SERVER</serviceType>
            <ignoreConnectionLimit>false</ignoreConnectionLimit>
            <maxConnections>0</maxConnections>
            <attributes>
                <key name="localStore.useAlways">true</key>
                <key name="bufferSize">1024</key>
            </attributes>
        </service>
       <service name="timeService">
            <port>5004</port>
            <class>elsu.network.services.system.TimeService</class>
            <startupType>DISABLED</startupType>
            <serviceType>SERVER</serviceType>
            <ignoreConnectionLimit>true</ignoreConnectionLimit>
            <maxConnections>0</maxConnections>
        </service>
        <service name="echoService">
            <port>5005</port>
            <class>elsu.network.services.support.EchoService</class>
            <startupType>DISABLED</startupType>
            <serviceType>SERVER</serviceType>
            <ignoreConnectionLimit>false</ignoreConnectionLimit>
            <maxConnections>0</maxConnections>
        </service>
        <service name="stateService">
            <port>5006</port>
            <class>elsu.network.services.support.StateService</class>
            <startupType>DISABLED</startupType>
            <serviceType>SERVER</serviceType>
            <ignoreConnectionLimit>false</ignoreConnectionLimit>
            <maxConnections>0</maxConnections>
        </service>
        <service name="messageService">
            <port>5007</port>
            <class>elsu.network.services.external.MessageService</class>
            <startupType>AUTOMATIC</startupType>
            <serviceType>CLIENT</serviceType>
            <ignoreConnectionLimit>true</ignoreConnectionLimit>
            <maxConnections>0</maxConnections>
            <attributes>
                <key name="service.localStore.directory">services/data/</key>
                <key name="service.localStore.mask">%s_%s_%s.txt</key>
                <key name="service.site.name">SITESVR1</key>
                <key name="service.site.id">306</key>
                <key name="service.monitor.idleTimeout">5000</key>
                <key name="service.log.rollover.periodicity">MINUTE</key>
                <key name="service.log.rollover.frequency">5</key>
                <key name="record.terminator.outbound">&#xD;&#xA;</key>
                <key name="service.site.host">localhost</key>
                <key name="service.site.port">10001</key>
            </attributes>
        </service>
        <service name="messageTestService">
            <port>10001</port>
            <class>elsu.network.services.test.MessageTestService</class>
            <startupType>AUTOMATIC</startupType>
            <serviceType>SERVER</serviceType>
            <ignoreConnectionLimit>false</ignoreConnectionLimit>
            <maxConnections>0</maxConnections>
        </service>
        <service name="reverseService">
            <port>5008</port>
            <class>elsu.network.services.test.ReverseService</class>
            <startupType>DISABLED</startupType>
            <serviceType>SERVER</serviceType>
            <ignoreConnectionLimit>false</ignoreConnectionLimit>
            <maxConnections>0</maxConnections>
        </service>
    </services>
</application>
